@model IEnumerable<GameWatcher.Models.Game>

@{
    ViewBag.Title = "Games Watched";
}

<div class="container" ng-app="app" ng-controller="GameCtrl">
    <div class="row">
        <div class="col-md-12">
            <h2>Games Watched</h2>
            <p>{{model | json}}</p>

            <p>
                @Html.ActionLink("Create New", "Create")
            </p>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Channel.ChannelName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AwayTeam)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HomeTeam)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.AwayScore)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.HomeScore)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

    @foreach (var item in Model)
    {
        <tr ng-repeat="item in">
            <td>
                {{games.AwayTeam}}
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.AwayTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeTeam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwayScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HomeScore)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.GameId }) |
                @Html.ActionLink("Details", "Details", new { id = item.GameId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.GameId })
            </td>
        </tr>
    }
            </tbody>
            </table>
        </div>
        
    </div>
</div>


